#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

body {
  background-color: #ebecf5;
}

.app {
  position: relative;
  margin: auto;
  text-align: center;
  
}

/* Header */

.header {
  /* margin: 0px; */
  width: 100%;
  text-align: left;
  height: 125px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}



.header-nav  {
   margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.categories-container {
  margin: 0px 5px 0px 55px;
  float: center;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  
}


.navbar-link {
  margin: 0px 15px 0px 0px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #cacaca55;
  color: black;
  border: white 2px solid;
  box-shadow: 2px 2px #888888;
  text-transform: uppercase;
  font-size: small;
}

.navbar-link:hover {

}

.navbar-link a:hover,
.active {
  margin: 0px 15px 0px 0px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #90919075;
  color: white;
  border: white 2px solid;
  box-shadow: 2px 2px #888888;
  text-transform: uppercase;
  font-size: small;
}

/* ALL PRODUCTS */
/* -CATEGORY BUTTONS */

.category-selector {
  margin-left: 20px;
}

.cat-btn {
  float: left;
  margin: 0px 5px 0px 0px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #cacaca55;
  color: black;
  border: white 2px solid;
  box-shadow: 2px 2px #888888;
  text-transform: uppercase;
  font-size: small;
}

.card {
  padding: 2em;
}

.prodCard {
  /* max-height: 225px; */
  position: relative;
  width: 300px;
  height: 250px;
  padding: 20px;
  margin: 15px;
  float: left;
  display: flex-wrap;
  background-color: white;
  border: solid #c7ced9 2px;
}

.prodCard:hover {
  
  box-shadow: 0 5px 15px rgba(174, 201, 242, .4);
}

.prodCard > img {
  height: 125px;
}

#single {
/* 
  display: table;
  text-align: center; */
}

.prodTitle {
  margin-top: 5px;
  color: black;
}

.prodRate {
  margin-top: 5px;
  margin-right: 10px;
}

.prodPrice {
  margin-top: 5px;
  margin-right: 10px;
}

.product-container {
  /* display: grid; */
  grid-gap: 10px;
  grid-template-columns: 1fr 500px;
  grid-template-areas: "prodCard";
  color: black;
  width: 100%;
  display:table;
  margin: 0 0.5em;
  

}

.detail-image {
  /* width: 400px; */
  max-height: 300px;
  
}

.deets {
  /* width: 70vw;
  margin: 0 auto; */
}

.searchProducts {
  text-align: left;
  margin-left: 25px;
}

@media only screen and (max-width: 864px) {
  .container {
  display: flex;
  flex-direction: column;
  /* width: 60vw; */
  }
  .prodCard {
    width: 70vw;
    padding: 15px;
    margin: 5px;
    float: left;
    display: flex;
    background-color: white;
    position: relative;
  }
  .prodCard > img {
    height: 100px;
  }
  .navs {
    position: absolute;
    float: right;
    top: 100px;
    right: 0px;
  }

}



@media only screen and (max-width: 864px) {
  
  .navs {
    position: absolute;
    float: right;
    top: 100px;
    right: 0px;
    display: flex;
  }

}



.selected-product-container {
  height: auto;
  width: auto;
  padding: 0px 25px ;
  margin: 0px;
  
}